html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: white;
    height: 100vh;
    font-family: Roboto, sans-serif;
    overflow: auto;
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.codar-title{
    color: #d6000d;
    font-style: italic;
    font-size: 40px;
    font-weight: 500;
    margin-left: 30px;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-right: 50px;
    width: 380px;
}

#login{

    background-color: #d6000d;
    color: white;
    cursor: pointer;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15;
    border: 1px solid #d6000d;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    transition: filter 0.10s linear 0.05s;
}

#login:hover{
    filter: brightness(0.9);
}

a{
    color: black;
    text-decoration: none;
}

main{
    display: grid;
    grid-template-rows: 500px 600px 300px;
    grid-template-areas: "aside" "text" "checklist" "aside2";
    height: max-content;
}

#inicio{
    display: grid;
    grid-template-columns: 50% 50%;
}


.aside1{
    grid-area: "aside";
    display: flex;
    align-items: center;
    justify-content: center;
}

.text1{
    grid-area: "text";
    display: grid;
    grid-template-rows: 180px 80px 100px;
}

.spannegocio{
    font-weight: 500;
    align-self: flex-end;
}

.websiteincrivel{
    margin: 0;
    align-self: flex-start;
    color: #d6000d;
    font-size: 50;
}

.buttonorçamento{
    background-color: #d6000d;
    border: 1px solid #d6000d;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: Roboto;
    font-weight: bold;
    font-size: 17px;
    height: 45px;
    width: 250px;
    transition: filter 0.10s linear 0.05s;
}

.buttonorçamento:hover{
    filter: brightness(0.9)
}

#serviços{
    grid-row: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 200px;

}

.text2{
    align-self: center;
    justify-self: center;
    font-weight: 500;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 200px;
    grid-row: 1;
    width: 100%;
}

.siteserviços{
    display: grid;
    width: max-content;
}

.divcheckbox{
    display: grid;
}
.checkbox{
    background-color: #d6000d;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

.aside2{
    grid-area: "aside2";
    grid-column: 2;
}


#contato{
    display: grid;
    grid-template-rows: 50% 50%;
}

#ligar{
    display: grid;
    grid-template-rows: 60px 100px;
    grid-template-columns: 490px auto;
}

.text3{
    align-self: flex-end;
    font-weight: bold;
    grid-row: 1;
    grid-column: 1/3;
    margin-left: 280px;
}

.celinput{
    
    height: 45px;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    grid-row: 2;
    grid-column: 1;
    margin-left: 280px;
    width: 200px;

}

.ligarbutton{
    background-color: #d6000d;
    border: 1px solid #d6000d;
    border-radius: 8px;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    grid-column: 2;
    height: 45px;
    grid-row: 2;
    width: 200px;
}

#avaliacao{
    display: grid;
    grid-row: 3;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
}

.avaliacoes{
    background-color: #e6e6e6;
    display: grid;
    grid-template-columns: 30% auto;
    border-radius: 5px;
    height: 170px;
    width: 500px;
}
#avaliacao1{
    justify-self: flex-end;
}

#avalicao2{
    justify-self: flex-start;
}

.foto{
    background-color: #d6000d;
    margin-top: 20px;
    justify-self: center;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.textava{
    margin-top: 25px;
    display: grid;
    grid-template-rows: 60px 40px 20px;
}
.avaspans{
    width: 90%;
}
h3{
    font-weight: 400;
}
.empresa{
    font-size: 15px;
    font-weight: bold;
}
footer{
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

.divsfooter{
    margin-top: 50px;
}

#codar2{
    font-size: 35px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20;
}

.titles{
    margin-top: 15px;
    font-size: 20px;
}

#contato2{
    display: grid; 
    grid-template-rows: 40px 40px 40px 40px;
    row-gap: 20px;
}